<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <button onclick="loadCart()">查看購物車</button>
    <button onclick="loadProducts()">瀏覽商品</button>
    <hr />
    <div id="main">
        <div id="productList" v-if="UI=='main'">
            <h1>商品瀏覽</h1>
            <!-- <button @click="goToCart">前往購物車</button> -->
            <table border=1>
                <tr>
                    <td>序號</td>
                    <td>商品名稱</td>
                    <td>價錢</td>
                    <td>詳情</td>
                    <td>數量</td>
                    <td>加入購物車</td>
                </tr>
                <tr v-for="product in products">
                    <td>{{ product.id }}</td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.productCost }}</td>
                    <td>{{ product.productContent }}</td>
                    <td>{{ product.productNumber }}</td>
                    <td><button @click="addToCart(product)">加入購物車</button></td>
                </tr>
            </table>
        </div>
        <div v-if="UI=='editForm'">
            <!-- 在這裡放入商品的表單 -->
        </div>
    </div>
    <script>
        const productApp = Vue.createApp({
            data() {
                return {
                    UI: 'main',
                    products: [], // 商品列表
                    cart: [], // 購物車中的商品列表
                }
            },
            methods: {
                // 透過 AJAX 請求從後端獲取商品列表
                loadProducts() {
                    fetch('productControl.php?act=listProduct') // 假設您的後端有相應的路由處理
                    .then(response => response.json())
                    .then(data => {
                        this.products = data;
                    })
                    .catch(error => console.error('Error:', error));
            },
                // 將商品添加到購物車
                addToCart(product) {
                    const data = {
                        productName: product.productName,
                        productCost: product.productCost,
                        productId: product.id,
                    };

                    fetch('productControl.php?act=addToCart', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ dat: data }), 
                    })
                    .then(response => response.json())
                    .then(data => {
                        // 此處可以處理伺服器回傳的任何數據或執行其他操作
                        console.log(data);
                    })
                    .catch(error => console.error('Error:', error));
                }
            },
            created() {
                // 初始化資料，例如加載商品列表
                this.loadProducts();
            }
        }).mount("#main");

    function loadCart() {
        URL = 'todoControl.php?act=listCart';
        fetch(URL,{
            method: 'POST'
        })
        .then(function(res){
            return res.json();
        })
        .then(function(data){
            let div = document.getElementById('main');
            result="<table border=1>";
            result += '<tr><th>id</th><th>itemName</th><th>Price</th><th>現在購買數量</th><th>修改數量</th></tr>'
            for (let r of data){
                result += "<tr>";
                let id=r['id'];
                for (let key in r){
                    if (key == 'myAmount'){
                        result += '<td>'+r[key]+'</td>';
                        result += `<td><input id="myNum${id}" type="number" name="amount" value="`+ r[key] +'"></td>';
                    } else {
                        result += '<td>'+r[key]+'</td>';
                    }
                    
                }
                result += "<td><button onclick='delCartItem(" + id + ")'>刪</button></td>";
                result += "<td><button onclick='updateCart(" + id + ")'>修改</button></td>";
                result += '</tr>';
            }
            result += '</table>';
            div.innerHTML=result;
        })
    }

    function updateCart(id){ //拿到id及要修改的數量，此數量必須1<X<商品剩餘數量，丟給controler
        var inputElement = document.getElementById('myNum'+id);
        
        // 获取input元素的值
        var inputValue = inputElement.value;
        let url="todoControl.php?act=updateCart&id="+id+"&amount="+ inputValue;
        fetch(url,{
            method: 'POST'
        })
        .then(function(res){return res.text(); }) //取得傳回值，轉為文字
        .then(function(data){ 
            loadCart();
        })
    }

    function delCartItem(id){
        let url="todoControl.php?act=delCartItem&id="+id;
        fetch(url,{
            method: 'POST'
        })
        .then(function(res){return res.text(); }) //取得傳回值，轉為文字
        .then(function(data){ 
            loadCart();
        })
    }

    function loadProducts() {
        location.reload();
    }

    </script>
</body>

</html>
